# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
db.sqlite3
db.sqlite3-journal

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.production
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
